article{
    width: var(--largura);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article h2{
    margin-bottom: 20px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.div-quem-somos{
    width: 100%;
    display: grid;
    gap: 10px;
}

#div1-quem-somos{
    grid-template-columns: auto 30%;
}

#div2-quem-somos{
    grid-template-columns: 30% auto;
}

.img-div-quem-somos{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.form-contato-email{
    margin: 30px 0;
    display: block;
}

@media (min-width: 650px){
    article{
        padding-top: 30px;
    }

    article p{
        font-size: 20px;
    }

    .titulo{
        gap: 50px;
    }

    .titulo img{
        height: 300px;
    }

    .div-quem-somos{
        gap: 25px;
        margin: 20px 0;
    }

}

@media (min-width: 800px){
    article{
        padding-bottom: 50px;
    }

    article p{
        font-size: 25px;
    }

    .titulo{
        gap: 80px;
    }

    #div1-quem-somos{
        grid-template-columns: auto 40%;
    }
    
    #div2-quem-somos{
        grid-template-columns: 40% auto;
    }

    section.form-contato-email{
        margin-bottom: 90px;
    }
}


@media (max-width: 420px){
    article{
        width: 90%;
    }

    #div1-quem-somos{
        grid-template-columns: auto 35%;
    }
    
    #div2-quem-somos{
        grid-template-columns: 35% auto;
    }
}

@media (max-width: 350px){
    article p{
        font-size: 15px;
    }
}

@media (max-width: 320px){
    #div1-quem-somos{
        grid-template-columns: auto 40%;
    }
    
    #div2-quem-somos{
        grid-template-columns: 40% auto;
    }
}

@media (max-width: 320px){

    article p{
        text-align: center;
    }
    
    .div-quem-somos{
        grid-template-columns:auto !important;
    }

    #div1-quem-somos{
        grid-template-rows: auto 250px;
    }
    
    #div2-quem-somos{
        grid-template-rows: 250px auto;
    }
}